/cyvenv
/venv
/Cypher/front-end/node_modules
/Cypher/backend/node_internal_api/node_modules
/Cypher/backend/__pycache__ 
/Cypher/front-end/static/dist/
/Cypher/backend/src/__pycache__/
/Cypher/.env
/Cypher/.keys/
