/cyvenv
/venv
/Cypher/Back-end/node_modules
/Cypher/Back-end/node_internal_api/node_modules
/Cypher/Back-end/__pycache__ 
/Cypher/Back-end/static/dist/
/Cypher/Back-end/src/__pycache__/
/Cypher/Back-end/.env
/Cypher/Back-end/.keys/
