/cyvenv
/venv
/Cypher/backend/node_modules
/Cypher/backend/node_internal_api/node_modules
/Cypher/backend/__pycache__ 
/Cypher/backend/static/dist/
/Cypher/backend/src/__pycache__/
/Cypher/backend/.env
/Cypher/backend/.keys/
